<div class="container-fluid min-vh-100">
  <div class="row mb-4">
    <h1>Education</h1>
  </div>
  <div class="row my-background py-5 px-5 align-items-center justify-content-center">
    <div class="col-lg-6">
      <h2 style="color: white">Our Commitment</h2>
      <p style="color: white">
        We focus on enhancing educational opportunities for underprivileged students through tutoring, school supply donations, and scholarships. Our efforts empower students by improving their access to quality education and fostering a love for learning.
      </p>
    </div>
    <div class="col">
      <img class="img-fluid img-thumbnail" src="assets/images/test.jpg" alt="">
    </div>
  </div>
</div>
