<div class="container-fluid min-vh-100">
  <div class="row mb-4">
    <h1>Children</h1>
  </div>
  <div class="row my-background py-5 px-5 align-items-center justify-content-center">
    <div class="col-lg-6">
      <h2 style="color: white">Our Commitment</h2>
      <p style="color: white">
        We also aim to help children living in unstable environments who lack access to education, healthcare, and nutritious food. Providing support like educational programs, mentorship, and safe spaces can help them develop essential skills and confidence. Ensuring they receive proper healthcare and emotional support promotes their well-being. Our efforts can break the cycle of poverty and create a more equitable society where every child has the opportunity to thrive.
      </p>
      <p style="color: white">
        That is why, we have previously collaborated with UNICEF to raise funds. Through initiatives like selling handmade cakes, we've successfully raised 70,190 yen to support their mission. These funds enable UNICEF to provide crucial assistance to vulnerable children worldwide, aligning with our shared vision of creating a brighter future for all.
      </p>
    </div>
    <div class="col">
      <img class="img-fluid img-thumbnail" src="assets/images/test.jpg" alt="">
    </div>
  </div>
</div>
