<div class="container-fluid min-vh-100">
  <div class="row mb-4">
    <h1>Environment</h1>
  </div>
  <div class="row my-background py-5 px-5 align-items-center justify-content-center">
    <div class="col-lg-6">
      <h2 style="color: white">Our Commitment</h2>
      <p style="color: white">
        Protecting the environment is vital for the well-being of our planet. We face challenges like pollution, habitat destruction, and climate change. To address these issues, we must reduce pollution, conserve natural habitats, and combat climate change. Simple actions like reducing energy consumption and supporting eco-friendly products can make a significant impact. Let's work together to create a healthier, more sustainable world for future generations.
      </p>
    </div>
    <div class="col">
      <img class="img-fluid img-thumbnail" src="assets/images/test.jpg" alt="">
    </div>
  </div>
  <div class="row donation-background my-5 py-5 px-5 align-items-center justify-content-center">
    <div class="col text-center">
      <h2 class="mb-3">Make a difference</h2>
      <h3 class="mb-3">Become a donor through our partners and help animals in need !</h3>
      <a routerLink="/take-action" class="btn btn-danger" role="button">
        Take Action !
      </a>
    </div>
  </div>
</div>
