<nav class="navbar navbar-expand-lg"
     [ngClass]="{
     'education': currentRoute === '/focus-areas/education',
     'outside-of-japan': currentRoute === '/focus-areas/outside-of-japan',
     'environment' : currentRoute === '/focus-areas/environment',
     'locals' : currentRoute === '/focus-areas/locals',
     'children' : currentRoute === '/focus-areas/children',
     'animals' : currentRoute === '/focus-areas/animals'
     }"
>
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/images/logov3.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
      <span class="ms-2">LFIT's Humanitarian Club</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/focus-areas">Focus Areas</a>
        </li>
        <li class="nav-item donate-item">
          <a class="nav-link" routerLink="/take-action" style="color: red">Take Action !</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
