<!-- Footer -->
<footer class="text-center text-lg-start mt-auto custom-footer">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>LFIT's Humanitarian Club
          </h6>
          <p>
            Founded in 2014 by motivated students during a fundraising for Unicef, the Humanitarian Club of the LFIT is a non-profit organisation dedicated to fostering a spirit of compassion and community service among high school students.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Focus Areas
          </h6>
          <p>
            <a routerLink="/focus-areas/education" class="text-reset">Education</a>
          </p>
          <p>
            <a routerLink="/focus-areas/environment" class="text-reset">Environment</a>
          </p>
          <p>
            <a routerLink="/focus-areas/children" class="text-reset">Children</a>
          </p>
          <p>
            <a routerLink="/focus-areas/locals" class="text-reset">Locals</a>
          </p>
          <p>
            <a routerLink="/focus-areas/outside-of-japan" class="text-reset">Outside of Japan</a>
          </p>
          <p>
            <a routerLink="/focus-areas/animals" class="text-reset">Animals</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <a class="nav-link" routerLink="/take-action">Take Action !</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>
            Instagram :
            <a style="color: white" href="https://www.instagram.com/club_huma?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">&#64;club_huma</a>
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            club_humanitaire&#64;lfitokyo.org
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
