<div class="container-fluid min-vh-100">
  <div class="row mb-4">
    <h1>Animals</h1>
  </div>
  <div class="row my-background py-5 px-5 align-items-center justify-content-center">
    <div class="col-lg-6">
      <h2 style="color: white">Our Commitment</h2>
      <p style="color: white">
        Protecting and helping animals is crucial for us. However, they face threats like habitat destruction, pollution, and exploitation due to human activities.
        Preserving habitats is key to animal protection. Conserving natural areas like forests and oceans ensures wildlife have places to thrive and maintains ecosystem balance and biodiversity.
        Preventing cruelty and exploitation is another crucial aspect. This involves advocating for stronger animal welfare laws, supporting rescue organisations, and promoting cruelty-free practices.
        Individual actions matter too. Adopting animals from shelters, supporting wildlife conservation projects, and choosing cruelty-free products can all make a difference.
      </p>
      <p style="color: white">
        Ultimately, protecting animals is vital for ecosystem health and our planet's well-being. By conserving habitats, preventing cruelty, and promoting ethical treatment, we can create a world where animals are valued members of our global community.

      </p>
    </div>
    <div class="col">
      <img class="img-fluid img-thumbnail" src="assets/images/test.jpg" alt="">
    </div>
  </div>
</div>
