<div class="container-fluid min-vh-100">
  <div class="row">
    <h1>{{"take-action.title" | translate}}</h1>
  </div>
  <div id="education" class="row">
    <h2>{{"take-action.education.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.education.box1.title" | translate}}</h2>
        <a href= "https://ec.philanthropy.or.jp/products/detail/27?birthday">
          {{"take-action.education.box1.link-text" | translate}}
        </a>
        <p>
          {{"take-action.education.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.education.box2.title" | translate}}</h2>
        <a href="https://learningforall.or.jp/support/credit2/entry/">Japanese</a>
        <a href="https://learningforall.or.jp/support-4-en/">English</a>
        <p>
          {{"take-action.education.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.education.box3.title" | translate}}</h2>
        <a href="https://cwaj.org/jp/cwaj-donation/">Japanese</a>
        <a href="https://cwaj.org/donation/">English</a>
        <p>
          {{"take-action.education.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div id="environment" class="row">
    <h2>{{"take-action.environment.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.environment.box1.title" | translate}}</h2>
        <a href="https://wwf.panda.org/">English</a>
        <a href="https://www.wwf.or.jp/support/">Japanese</a>
        <p>
          {{"take-action.environment.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.environment.box2.title" | translate}}</h2>
        <a href="https://www.jwcs.org/en/donation/">English</a>
        <a href="https://www.jwcs.org/donation/">Japanese</a>
        <p>
          {{"take-action.environment.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.environment.box3.title" | translate}}</h2>
        <a href="https://foejapan.org/en/">English</a>
        <a href="https://foejapan.org">Japanese</a>
        <p>
          {{"take-action.environment.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div id="children" class="row">
    <h2>{{"take-action.children.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.children.box1.title" | translate}}</h2>
        <a href="https://www.unicef.org/">{{"take-action.children.box1.link-text" | translate}}</a>
        <p>
          {{"take-action.children.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.children.box2.title" | translate}}</h2>
        <a href="https://ec.philanthropy.or.jp/products/list?category_id=15&birthday">{{"take-action.children.box2.link-text" | translate}}</a>
        <p>
          {{"take-action.children.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.children.box3.title" | translate}}</h2>
        <a href="https://congrant.com/project/npojcsa/173/form/step1">{{"take-action.children.box3.link-text" | translate}}</a>
        <p>
          {{"take-action.children.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div id="locals" class="row">
    <h2>{{"take-action.locals.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.locals.box1.title" | translate}}</h2>
        <a href="https://www.jrc.or.jp/english/donate/">English</a>
        <a href="https://www.jrc.or.jp/contribute/">Japanese</a>
        <p>
          {{"take-action.locals.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.locals.box2.title" | translate}}</h2>
        <a href="https://aarjapan.gr.jp/en/donate/">English</a>
        <a href="https://aarjapan.gr.jp/support/#s_1">Japanese</a>
        <p>
          {{"take-action.locals.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.locals.box3.title" | translate}}</h2>
        <a href="https://www.facebook.com/TSHpatrol/">{{"take-action.locals.box3.link-text" | translate}}</a>
        <p>
          {{"take-action.locals.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div class="row" id="outside-of-japan">
    <h2>{{"take-action.outside-of-japan.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.outside-of-japan.box1.title" | translate}}</h2>
        <a href="https://www.shaplaneer.org/english/">{{"take-action.outside-of-japan.box1.link-text" | translate}}</a>
        <p>
          {{"take-action.outside-of-japan.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.outside-of-japan.box2.title" | translate}}</h2>
        <a href="https://support.savethechildren.org/site/Donation2?df_id=1620&1620.donation=form1">{{"take-action.outside-of-japan.box2.link-text" | translate}}</a>
        <p>
          {{"take-action.outside-of-japan.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.outside-of-japan.box3.title" | translate}}</h2>
        <a href="https://dons.restosducoeur.org/particulier/~mon-don?_cv=1">{{"take-action.outside-of-japan.box3.link-text" | translate}}</a>
        <p>
          {{"take-action.outside-of-japan.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div id="animals" class="row">
    <h2>{{"take-action.animals.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.animals.box1.title" | translate}}</h2>
        <a href="https://www.animaldonation.org/donate/">{{"take-action.animals.box1.link-text" | translate}}</a>
        <p>
          {{"take-action.animals.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.animals.box2.title" | translate}}</h2>
        <a href="https://zamaneko.stores.jp/">{{"take-action.animals.box2.link-text" | translate}}</a>
        <p>
          {{"take-action.animals.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.animals.box3.title" | translate}}</h2>
        <a href="https://chibawan.net/volunteer">{{"take-action.animals.box3.link-text" | translate}}</a>
        <p>
          {{"take-action.animals.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
</div>
