<div class="container-fluid min-vh-100">
  <div class="row">
    <h1>{{"take-action.title" | translate}}</h1>
  </div>
  <div id="education" class="row">
    <h2>{{"take-action.education.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.education.box1.title" | translate}}</h2>
        <a [href]="'take-action.education.box1.link' | translate">
          {{"take-action.education.box1.link-text" | translate}}
        </a>
        <p>
          {{"take-action.education.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.education.box2.title" | translate}}</h2>
        <a [href]="'take-action.education.box2.link' | translate">
          {{"take-action.education.box2.link-text" | translate}}
        </a>
        <p>
          {{"take-action.education.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.education.box3.title" | translate}}</h2>
        <a [href]="'take-action.education.box3.link' | translate">
          {{'take-action.education.box3.link-text' | translate}}
        </a>
        <p>
          {{"take-action.education.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div id="environment" class="row">
    <h2>{{"take-action.environment.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.environment.box1.title" | translate}}</h2>
        <a [href]="'take-action.environment.box1.link' | translate">
          {{"take-action.environment.box1.link-text" | translate}}
        </a>
        <p>
          {{"take-action.environment.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.environment.box2.title" | translate}}</h2>
        <a [href]="'take-action.environment.box2.link' | translate">
          {{"take-action.environment.box2.link-text" | translate}}
        </a>
        <p>
          {{"take-action.environment.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.environment.box3.title" | translate}}</h2>
        <a [href]="'take-action.environment.box3.link' | translate">
          {{"take-action.environment.box3.link-text" | translate}}
        </a>
        <p>
          {{"take-action.environment.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div id="children" class="row">
    <h2>{{"take-action.children.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.children.box1.title" | translate}}</h2>
        <a [href]="'take-action.children.box1.link' | translate">{{"take-action.children.box1.link-text" | translate}}</a>
        <p>
          {{"take-action.children.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.children.box2.title" | translate}}</h2>
        <a [href]="'take-action.children.box2.link' | translate">{{"take-action.children.box2.link-text" | translate}}</a>
        <p>
          {{"take-action.children.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.children.box3.title" | translate}}</h2>
        <a [href]="'take-action.children.box3.link' | translate">{{"take-action.children.box3.link-text" | translate}}</a>
        <p>
          {{"take-action.children.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div id="locals" class="row">
    <h2>{{"take-action.locals.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.locals.box1.title" | translate}}</h2>
        <a [href]="'take-action.locals.box1.link' | translate">
          {{"take-action.locals.box1.link-text" | translate}}
        </a>
        <p>
          {{"take-action.locals.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.locals.box2.title" | translate}}</h2>
        <a [href]="'take-action.locals.box2.link' | translate">
          {{"take-action.locals.box2.link-text" | translate}}
        </a>
        <p>
          {{"take-action.locals.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.locals.box3.title" | translate}}</h2>
        <a [href]="'take-action.locals.box3.link' | translate">
          {{"take-action.locals.box3.link-text" | translate}}
        </a>
        <p>
          {{"take-action.locals.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div class="row" id="outside-of-japan">
    <h2>{{"take-action.outside-of-japan.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.outside-of-japan.box1.title" | translate}}</h2>
        <a [href]="'take-action.outside-of-japan.box1.link' | translate">
          {{"take-action.outside-of-japan.box1.link-text" | translate}}
        </a>
        <p>
          {{"take-action.outside-of-japan.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.outside-of-japan.box2.title" | translate}}</h2>
        <a [href]="'take-action.outside-of-japan.box2.link' | translate">
          {{"take-action.outside-of-japan.box2.link-text" | translate}}
        </a>
        <p>
          {{"take-action.outside-of-japan.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.outside-of-japan.box3.title" | translate}}</h2>
        <a [href]="'take-action.outside-of-japan.box3.link' | translate">
          {{"take-action.outside-of-japan.box3.link-text" | translate}}
        </a>
        <p>
          {{"take-action.outside-of-japan.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div id="animals" class="row">
    <h2>{{"take-action.animals.section-title" | translate}}</h2>
    <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"take-action.animals.box1.title" | translate}}</h2>
        <a [href]="'take-action.animals.box1.link' | translate">
          {{"take-action.animals.box1.link-text" | translate}}
        </a>
        <p>
          {{"take-action.animals.box1.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.animals.box2.title" | translate}}</h2>
        <a [href]="'take-action.animals.box2.link' | translate">
          {{"take-action.animals.box2.link-text" | translate}}
        </a>
        <p>
          {{"take-action.animals.box2.text" | translate}}
        </p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"take-action.animals.box3.title" | translate}}</h2>
        <a [href]="'take-action.animals.box3.link' | translate">
          {{"take-action.animals.box3.link-text" | translate}}
        </a>
        <p>
          {{"take-action.animals.box3.text" | translate}}
        </p>
      </div>
    </div>
  </div>
</div>
