<div class="container-fluid min-vh-100">
  <div class="row">
    <h1>About Us</h1>
  </div>
  <div class="row py-5 d-flex justify-content-center">
    <div class="col-lg-6 d-flex justify-content-center">
      <img src="assets/images/logov3.png" class="img-fluid w-75">
    </div>
    <div class="col about-us-background px-5">

    </div>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut debitis illum in labore molestias nostrum possimus quia, veniam voluptatum? Accusantium, alias at dolorum esse iste optio qui quibusdam saepe?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut debitis illum in labore molestias nostrum possimus quia, veniam voluptatum? Accusantium, alias at dolorum esse iste optio qui quibusdam saepe?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut debitis illum in labore molestias nostrum possimus quia, veniam voluptatum? Accusantium, alias at dolorum esse iste optio qui quibusdam saepe?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut debitis illum in labore molestias nostrum possimus quia, veniam voluptatum? Accusantium, alias at dolorum esse iste optio qui quibusdam saepe?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut debitis illum in labore molestias nostrum possimus quia, veniam voluptatum? Accusantium, alias at dolorum esse iste optio qui quibusdam saepe?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut debitis illum in labore molestias nostrum possimus quia, veniam voluptatum? Accusantium, alias at dolorum esse iste optio qui quibusdam saepe?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut debitis illum in labore molestias nostrum possimus quia, veniam voluptatum? Accusantium, alias at dolorum esse iste optio qui quibusdam saepe?</p>
</div>
