<div class="container-fluid min-vh-100">
  <div class="row mb-4">
    <h1>Locals</h1>
  </div>
  <div class="row my-background py-5 px-5 align-items-center justify-content-center">
    <div class="col-lg-6">
      <h2 style="color: white">Our Commitment</h2>
      <p style="color: white">
        It is also important to us to help those who need it the most in our communities. Our efforts to help those in need are driven by a desire to make a positive impact and create a more equitable society. By giving our support, we can offer hope and assistance during difficult times.
      </p>
      <p style="color: white">
        For the past year, we have organised campaigns to collect first need items at school but also have also been involved in Tokyo Spring Homeless Patrol’s initiative.
        Tokyo Springs Homeless Patrol is an association that organises distribution of meals and first need items to homeless people. Tokyo Springs Homeless Patrol is an organization dedicated to distributing meals and essential items to homeless individuals. Through our participation in their Wednesday patrols, we directly contribute to providing much-needed support to those experiencing homelessness, reinforcing our commitment to community welfare and compassionate action.
      </p>
    </div>
    <div class="col">
      <img class="img-fluid img-thumbnail" src="assets/images/test.jpg" alt="">
    </div>
  </div>
</div>
