<div class="container-fluid min-vh-100">
  <div class="row mb-4">
    <h1>Outside of Japan</h1>
  </div>
  <div class="row my-background py-5 px-5 align-items-center justify-content-center">
    <div class="col-lg-6">
      <h2 style="color: white">Our Commitment</h2>
      <p style="color: white">
        Recognizing that humanitarian efforts know no borders, we extend our outreach beyond Japan. We collaborate with international organisations to support global causes such as disaster relief, poverty alleviation, and educational support in developing countries. Our goal is to contribute to a more just and compassionate world.
      </p>
      <p style="color: white">
        This is why, this year, we have organised an operation to collect books and toys to donate to the association Shapla Neer. This association is dedicated to helping underprivileged communities in South Asia.
      </p>
    </div>
    <div class="col">
      <img class="img-fluid img-thumbnail" src="assets/images/test.jpg" alt="">
    </div>
  </div>
  <div class="row donation-background my-5 py-5 px-5 align-items-center justify-content-center">
    <div class="col text-center">
      <h2 class="mb-3">Make a difference</h2>
      <h3 class="mb-3">Become a donor through our partners and help animals in need !</h3>
      <a routerLink="/take-action" class="btn btn-danger" role="button">
        Take Action !
      </a>
    </div>
  </div>
</div>
