<div class="container-fluid min-vh-100">

  <div class="row">
    <h1 class="">Welcome to the LFIT's Humanitarian Club's Website !</h1>
  </div>
  <div id="carouselAndLogo" class="row align-items-center py-4 px-5">
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <app-carousel></app-carousel>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <img src="assets/images/logov3.png" alt="" width="300" height="300">
    </div>
  </div>
  <div class="row">
    <h2 class="">About us</h2>
    <p>Founded in 2014 by motivated students during a fundraising for Unicef, the Humanitarian Club of the LFIT is a non-profit organisation dedicated to fostering a spirit of compassion and community service among high school students. We engage in a variety of projects aimed at helping locals, children, animals, people outside Japan, and educating and protecting the environment. Members participate in volunteer efforts, educational initiatives, and awareness campaigns to make a positive impact.</p>
  </div>

  <div class="row">
    <h2>How to join us</h2>
    <p>Since we are primarily junior and senior year students, we greatly appreciate the help of younger students who have more free time. </p>
    <p>We welcome project suggestions from everyone, and volunteers of all ages are encouraged to join us !</p>
  </div>

  <div class="row">
    <h2>How to help us</h2>
    <p>To support us, you can either volunteer or donate. You can choose a specific theme to donate to (education, helping locals, children, actions abroad, environment, animals). If you donate through this main page, your contribution will be allocated to the area of greatest need. You also have the option to give a small amount—every donation makes a difference !</p>
  </div>


</div>
