<div class="container-fluid min-vh-100">
  <div class="row">
    <h1 class="">{{"home.welcome" | translate}}</h1>
  </div>
  <div class="row align-items-center my-4">
      <app-carousel></app-carousel>
    <div class="d-block d-lg-none text-center rounded">
      <img src="assets/images/pres1.jpeg" class="img-fluid w-100 rounded" alt="...">
    </div>
  </div>
  <div class="row justify-content-center py-3">
      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2 class="">{{"home.about-us.title" | translate}}</h2>
        <p>{{"home.about-us.text" | translate}}</p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"home.join-us.title" | translate}}</h2>
        <p>{{"home.join-us.text" | translate}}</p>
      </div>

      <div class="col-lg-3 mx-4 my-4 py-5 px-5 home-background">
        <h2>{{"home.help-us.title" | translate}}</h2>
        <p>{{"home.help-us.text" | translate}}</p>
        <a routerLink="/take-action" class="btn btn-danger" role="button">
          {{"home.take-action.title" | translate}}
        </a>
      </div>
  </div>
</div>
